wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  manual_ip:
    static_ip: 192.168.1.104
    gateway: 192.168.1.1
    subnet: 255.255.255.0
    dns1: 8.8.8.8
  
  fast_connect: true
  power_save_mode: none

  ap:
    ssid: "${friendly_name} Fallback Hotspot"
    password: "fallbackPassw0rd"